/**/__pycache__/
/**/exports/
/**/secrets/
/**/.env
/**/data/cache/
/**/logs/
/**/mlruns/
/**/output/
/**/outputs/
/**/.keep
/**/*:Zone.identifier
/**/*-secrets.yaml
/**/.obsidian/
/**/.trash/
/**/*.bak